# runtime outputs
**/fastp.json
**/fastp.html
**/Log.out
**/Log.progress.out
**/*.tmp
**/.snakemake/
**/.nextflow/
**/.Rhistory
**/.Rproj.user
**/*.Rproj

# large outputs
**/process/**
**/result/**
**/log/**
**/example_data/test_001/**
